header, main {
  font-family: "Merriweather", serif;
  width: 1400px;
  margin: 0 auto;
}

header {
  background-image: url(./img/Banner\ Image.png);

  width: 1320px;
  height: 700px;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.banner {
  text-align: center;
  border-radius: 16px;
  background: linear-gradient(#070211 0%, rgba(7, 2, 17, 0));
}
.banner h5 {
  padding-top: 150px;

  color: #fff;

  font-size: 32px;
  font-weight: 400;
}

.banner p {
  color: #fff;

  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}
h3 {
  text-align: center;
  color: #f00;
  text-align: center;
  
  font-size: 88px;
 
  font-weight: 700;
 margin-bottom: 15px;
}
.text {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.category {
  color: #070211;
  text-align: center;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.discount-img{
    margin-left: 250px;
    
}
.party{
  background-image: url(img/Vectorrr.png);
    background-repeat: no-repeat;
  
   
  
  
}
.party-section{
    margin-top: 60px;
    margin-right: 80px;
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    color: #fff;
}
.party-section img{
    width: 320px;
    height: 460px;
    margin-right: 50px;
   
}
.left-party h2{
    font-size: 60px;
} 
.btn a{
  text-decoration: none;
  color: #fff;
}
.btn
{
  color:white;
  background: transparent;
  border: none;
  margin-top: 20px;

}
h6{
  color: #F00;
font-size: 24px;
font-weight: 500;

}
.offer{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.offer-second{
  
border-radius: 463px;
border: 15px solid #F00;
padding: 20px;
margin-right: 25px;

}
.portfolio-content h2{
  color: #070211;
 font-size: 45px;
font-weight: 900;

}
.portfolio-img{
  margin-top: 20px;
}

.portfolio-img img:hover{
  border: 5px solid blue;

}
.newsletter{
  margin-top: 50px;
  padding: 80px;
  border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
display: flex;
justify-content: center;
align-items: center;

}
.newsletter-content img{
 margin-left: 80px;
}
form{
  border: 2px solid white;
  flex-shrink: 1;
  height: 72px;
  border-radius: 50px 50px 50px 50px; 
  width: 210px;
  display: flex;
  justify-content: space-between;

}
.subscribe-btn{
  border-radius: 0px 50px 50px 0px;
  padding: 25px;
  border: none;
background: #F00;
width: 210px;
height: 72px;
color: #fff;

}
input{
  border: none;
  border-radius: 50px 0px 0px 50px;
  padding: 25px;
  color:rgba(7, 2, 17, 0.30);

  
  
}

footer{
  background:#070211;
  color: #fff;
  padding: 200px;
  margin-top: 30px;
  font-size: 20px;
  
}
.first-half{
  
  display: flex;
  justify-content: space-between;
}
.call, .website {
  display:flex;

  
  
  
}
.footer-p{
  margin-left: 10px;
}
hr{
  background-color: rgba(255, 255, 255, 0.192);
}
.second-half
{
  text-align: center;
}
.third-half{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}